.About{
    height: 100vh;

}
.resume{
    font-size: 18px;
    text-align: -webkit-center;
    font-weight: 500;
    padding-top: 8rem;
}
.button{
    position: absolute;
    left: 41%;
   width: 100px;
   padding-top: 10px;
   padding-bottom: 10px;
    text-align: -webkit-center;
    font-weight: bolder;
    background-color: #F7D319;
    color: white;
    border-radius: 20px;
    font-size: 18px;
    text-decoration: none !important;
}
.button:hover{
    background-color: #FFF; 
    color: #F7D319;
    border: 1px solid #F7D319;
}
.img-info{
    width: 400px;
    display: flex;
    justify-content: center;
margin-left: 6rem;
margin-top: 1rem;

}
