.contact{
    height: 90vh ;
    display: flex;
    justify-content: center;
}
.form1{
    color: black !important;
}
.button-contact{
    width: 140px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #0077B5 !important;
    border-color: #0077B5;
    text-align: center;
    color: white !important;
    border-radius: 10px;
    cursor: pointer;
}
.button-contact:hover{
    background-color: white !important;
    border:1px solid #0077B5 !important;
    color: #0077B5 !important;
}
.informations{
    background: #0077B5 !important;
    color: white;
}
.bold{
    font-weight: bolder;
}
.text-cantact{
    font-size: 18px;
}
.cantact-end{
    padding-top: 5rem;
}