.center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6rem !important;
    height: 90vh;

}
.round-image {
    width: 250px ;
    height: 250px ;
    border-radius: 125px;
    -webkit-border-radius: 125px;
    -moz-border-radius: 125px;
    margin-top: 6rem ;
    
   }
   .typed-text{
    font-weight: bold;
    font-size: 19px;
    color: black ;
    display: block;
    text-align: -webkit-center;
   }
   