.navbar-collapse {
  display: flex;
  justify-content: center;
  color: #222222 !important;
}

.a {
  text-decoration: none !important;
  margin-left: 40px !important;
  scroll-behavior: smooth !important;
}
.nav-link {
  color: white !important;
}
.header {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  background-color: transparent;
  z-index: 100;
  border: none;
  position: fixed !important;
  top: 0;
  transition: background-color 1s ease 0s;
}
.header.active1 {
  background: #222222 !important;
}

nav a {
  flex-grow: 1 !important;
  text-align: center !important;
  padding: 1em !important;
  position: relative;
  font-size: 20px;
}

nav a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  transform: scaleX(0);
  transition: 0.7s transform cubic-bezier(0.06, 0.9, 0.28, 1);
}
.a1::after {
  background: #f7d319;
}
.a2::after {
  background: #ff0000;
}
.a3::after {
  background: #0077b5;
}
.a4::after {
  background: #4ebbfa;
}

nav a:hover::after {
  transform: scaleX(0.8);
}

.dark1 {
  background: #000 !important;
  color: white;
}
.dark1 :hover {
  color: white !important;
}

.light1 {
  background: #4276ec;
}
