.projects {
  margin-bottom: 10em;
}
/* .lightinfo {
  background: #fff !important;
  padding: 45px !important;
  color: black;
}
.darkinfo {
  background: transparent !important;
  padding: 45px !important;
  color: white !important;
} */
.proj-image1 {
  width: 500px;
  padding-top: 3rem;
  padding-bottom: 2.5rem;
  cursor: default !important;
}

.proj-descp {
  font-size: 18px;
  text-align: start;
  cursor: default;
}

.proj-info {
  text-align: -webkit-center;
}

@media (max-width: 991px) {
  .proj-image1 {
    width: 350px;
  }
  .projects {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  .project {
    background: #fff;
    color: black;
    width: 98%;
    margin-left: 8px !important;
  }
  .proj-descp {
    font-size: 17px;
    margin-bottom: 10px !important;
  }
}
