.proj-image{
    width:350px;
}
.proj-descp{
    font-size: 18px;
    font-weight: 500;
}

.projects{
    height: 100vh;
}
.proj-button{
width:130px;
font-weight: bold;
padding-top: 12px;
padding-bottom: 12px;
text-align: center;
background-color: #FF0000;
color: white;
border-radius: 12px;
font-size: 19px;
}
.proj-info{
    text-align: -webkit-center;

}